@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  box-sizing: border-box;
  font-family: -apple-system, Roboto, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  background-color: #EFEFEF;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.layout {
  @apply w-full px-2 xl:w-8/12 mx-auto;
}
.layout-slider{
  @apply w-full xl:w-8/12 mx-auto;
}
.slick-prev,
.slick-next {
  font-size: 15px !important;
}

.slick-slide{
  @apply p-1
}

.customMarque :hover,:active{
  animation-play-state:paused;
}

.pos-center {
  @apply flex justify-center items-center;
}
.absolute-center {
  @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
}